/* Contêiner do background preto, o principal aplicável a tudo*/
.bLackground {
    background-color: black;
    width: 100%;
}

/* Contêiner das imagens de largura total (cabeçalho e rodapé)*/
.fullwidth img{
    width: 100%;
    text-align: center;;
}

.txt {
    color: white;
    font-family: A, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}

.explore, .journal {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.explore img {
    flex: 1;
    width: 170px;
    height: auto;
    padding: 5px;
    border-radius: 8px;
}

.journal img {
    flex: 1;
    width: 170px;
    height: auto;
    padding: 5px;
    border-radius: 8px;
}